@model WebsiteZft.Models.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get in-touch with us </h2>

<h3><i class="glyphicon glyphicon-comment"></i> Live Chat </h3>


<p>Our Live Chat Hours are Mon-Thu 9AM-5PM EGY (2:00-17:00)GMT</p>

<br />

<h3><i class="glyphicon glyphicon-envelope"></i> Email support</h3>
<p>Email us at <a href="">omarsaber246@yahoo.com</a></p>

<p>If you have busieness-related questions please reach us by email at <a href="">info@hotmail.com</a></p>
<br />

<h3><i class="fa fa-map-marker" ></i> Address</h3>
<p>Roger Welo LLC,</p>
<p>2120 California Blvd,Suite 400A</p>
<p>Alrithon,VA200,USA</p>
<p>2199-40507</p>

